@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 }

html {
  font-size: 62.5%;
}
body {
  background-color: #fff6e0;
  width: 100vw;
  overflow-x: hidden;
 
}
.active{
    color: rgb(255, 217, 0);
}
nav {
  background-color: #ea6c43;
  width: 50%;
  margin: 10px auto;
  height: 60px;
  border-radius: 10px;
}
nav ul {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
}
nav ul li {
  list-style: none;
}
nav ul li a:hover {
  color: rgb(255, 217, 0);
}

section{
  display: flex;
  align-items: center;
 flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
}
section .rightsidecontent img{
 animation: updownani 2s linear alternate infinite;
}

@keyframes updownani {
50%{
  transform: translateY(10px);
}
100%{
  transform: translateY(-10px);
}
} 

.leftsidecontent p{
font-size: 5rem;
font-weight: bolder;
}

.name{
position: relative;


}


.name::after {
content: 'Aashutosh';
overflow: hidden;
position: absolute;
left: 0;
color: #ea6c43;
border-right:2px solid #ea6c43 ; 
width: 0;
animation:typinganimation 2s linear infinite alternate ;


 
}
@keyframes typinganimation{
 
        10%{
            width: 10%;
        }
        20%{
            width: 20%;
        }
        30%{
            width: 30%;
        }
        40%{
            width: 40%;
        }
        50%{
            width: 50%;
        }
        60%{
            width: 60%;
        }
        70%{
            width: 70%;
        }
        80%{
            width: 80%;
        }
        90%{
            width: 90%;
        }
        100%{
            width: 100%;
        }
    }

.leftsidecontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download_cv{
  background: none;
  color: white;
  padding: 20px;
  cursor: pointer;
 border: 5px solid #ea6c43;
 border-radius: 5px;
 font-size: 2rem;
 width: 50%;
 margin-top: 20px;
 color: #000000;
 font-weight: 800;
}
.download_cv:hover{
  background-color:  #ea6c43;
  color: white;
}
.socialmedias{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;

}
#facebook ,#instagram, #linkedin{
  font-size: 4rem;
  cursor: pointer;
}


#instagram{

  border-radius: 500px;
}
#facebook:hover,#instagram:hover,#linkedin:hover{
  color:#ea6c43;

}
.container{
  display: flex;
flex-direction: row;
gap: 50px;

}
#bar{
display: none;
}
#check{
  display: none;
}
input[type="checkbox"]:checked ~ ul {
   display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 7rem;
    background-color:#ea6c43;
    height: fit-content;
    width: 100%;
    left: 0;
    z-index: 11;
        }

#facebook:hover ,#instagram:hover , #linkedin:hover{
  transform: translateY(-5px);
}
@media (max-width:1188px){
  nav{
      width: 100vw;
  margin: 10px auto;
  height: 60px;
  border-radius: 0px;
  margin: 0px auto;
position: relative;
  }

  nav ul {
display: none;

  }
  #bar{
    display: block;
    font-size: 3rem;
    position: absolute;
    right: 10px;
    margin-top: 15px;
    color: white;
  }

.container{
  flex-direction: column;
}
.socialmedias{
    flex-direction: row;
      order: 1;
        justify-content: center;
  margin-bottom: 30px;
}

.leftsidecontent{
order: 0;
}
.leftsidecontent p{
  margin-top: 100px;
}


@media (max-width:600px){
  .leftsidecontent p{
text-align: center;
}
  .download_cv{
  font-size: 1.5rem;
}
}